module.exports = {
  server: {
    port: 12345
  },
  database: {
    name: 'fez-api',
    host: 'localhost',
    port: 3306,
    user: 'root',
    password: ''
  },
  bcrypt: {
    saltRounds: 10
  },
  CDN: {
    accessKey: '',
    secretKey: '',
    bucket: 'fez-edusoho-pub',
    zone: 'Zone_z0',
  }
}